In [2]:
import pandas as pd

In [3]:
enron_dataset = pd.read_csv('enron_dataset.csv')
enron_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517401 entries, 0 to 517400
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   file     517401 non-null  object
 1   message  517401 non-null  object
dtypes: object(2)
memory usage: 7.9+ MB

In [4]:
print(enron_dataset.message[0])

Message-ID: <18782981.1075855378110.JavaMail.evans@thyme>
Date: Mon, 14 May 2001 16:39:00 -0700 (PDT)
From: phillip.allen@enron.com
To: tim.belden@enron.com
Subject:
Mime-Version: 1.0
Content-Type: text/plain; charset=us-ascii
Content-Transfer-Encoding: 7bit
X-From: Phillip K Allen
X-To: Tim Belden <Tim Belden/Enron@EnronXGate>
X-cc:
X-bcc:
X-Folder: \Phillip_Allen_Jan2002_1\Allen, Phillip K.\'Sent Mail
X-Origin: Allen-P
X-FileName: pallen (Non-Privileged).pst

Here is our forecast

In [5]:
enron_dataset.file.str.split('/', n=2).head()

0       [allen-p, _sent_mail, 1.]
1      [allen-p, _sent_mail, 10.]
2     [allen-p, _sent_mail, 100.]
3    [allen-p, _sent_mail, 1000.]
4    [allen-p, _sent_mail, 1001.]
Name: file, dtype: object

In [6]:
mails_df = pd.DataFrame()

In [7]:
mails_df[['sender', 'folder', 'msg_no']] = enron_dataset.file.str.split('/', n=2, expand=True)

In [8]:
mails_df.head()

    sender      folder msg_no
0  allen-p  _sent_mail     1.
1  allen-p  _sent_mail    10.
2  allen-p  _sent_mail   100.
3  allen-p  _sent_mail  1000.
4  allen-p  _sent_mail  1001.

In [9]:
mails_df.sender.value_counts()

kaminski-v    28465
dasovich-j    28234
kean-s        25351
mann-k        23381
jones-t       19950
              ...
swerzbin-m      355
sanchez-m       256
south-s         248
slinger-r       132
phanis-s         35
Name: sender, Length: 150, dtype: int64

In [40]:
mails_df.groupby('sender').folder.nunique()

sender
allen-p        10
arnold-j       46
arora-h        11
badeer-r       16
bailey-s        5
               ..
williams-w3    24
wolfe-j        19
ybarbo-p       20
zipper-a       26
zufferli-j      6
Name: folder, Length: 150, dtype: int64

In [50]:

def extract_size(df):
    series1 = pd.Series(df.groupby(['sender']).size(), name='total_mails')
    series2 = pd.Series(df.groupby(["sender"]).folder.nunique(), name='total_folders')
    size_df = pd.concat([series1, series2], axis=1)
    return size_df.sort_values(by=['total_mails', 'total_folders'], ascending=False)

size_df = extract_size(mails_df)

In [51]:
size_df

            total_mails  total_folders
sender
kaminski-v        28465             48
dasovich-j        28234             63
kean-s            25351            187
mann-k            23381             34
jones-t           19950             10
...                 ...            ...
swerzbin-m          355              5
sanchez-m           256              7
south-s             248              7
slinger-r           132              3
phanis-s             35              4

[150 rows x 2 columns]